<style type="text/css">
	body{background:#ccc;color:#fff;}
	table{width:300px;border-collapse:collapse;margin:10px 0 0 10px}
	table th,
	table td{padding:5px;border:1px solid #999;}
	
</style>
<div id="auth-test" style="border-top: 1px solid blue">
	<span id="status"></span><button id="exist">退出</button>
    <button id="interface">登陆</button>
    <button id="reg-int">注册</button>
    <button id="login-tongyao">一键登录tongyao</button>
</div>
<!--单行测试-->
<!--多行测试-->
<block tpl-id="DataTable">
	{{> datatable}}
</block>
<table style="width:80%">
	<tr>
		<th>count test</th>
		<th>Config test</th>
		<th style="width:30%">计数器</th>
	</tr>
	<tr>
		<td>
			<block tpl-id="subModelStat">
				subModel总数：{{count}}
			</block>
			<block tpl-id="syncTable">
				{{> syncTable}}
			</block>
		</td>
		<td>
			<button id="Config" style="height:50px;width:100px;background:#fff;border:1px solid #999;">修改Config</button>
			<block tpl-id="textConfig">
				config: {{maxCount}}
			</block>
		</td>
		<td>
			<p id="timer"><span></span></p>
		</td>
	</tr>
</table>

<block tpl-id="lazyloadTable">
	{{> lazyDataTable}}
</block>
