<style>
   block{
      color: #fff;
   }
</style>

<block tpl-id="inf-login">
   <div>
      token<input id="d-token" name="token" type="text"></input></br>
	  password<input id="d-password" name="password", type="password"></input></br>
	  验证码<input id="d-code" name="code", type="text"></input>
	  <span id="verifyCode"></span>
	  </br>
	  <input id="login" name="login" type="button" value="本地帐户登录"></input>
	  <input id="baidu-login" name="baidu-login" type="button" value="百度帐户登录"></input>
   </div>
</block>
<a class="close">close</a>